/* main css for modules */

body { 
  font-family:sans-serif;
  background-color:#D1FFD1; 
}

a:link,a:visited { 
  color: darkblue;
}
#mainbox { 
  border:1px solid black;
  background: #7DFF7D;
  margin: 20px auto;
  padding-top: 0pt;
  width: 765px;
  text-align: left;
  padding-bottom:30px;
}

h1.box { 
  background: #7DBDFF;
  margin-top: 0pt;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

table {
  padding: 2px;
  margin-bottom: 40px;
}

th {
  text-align: left;
  border-bottom: 1px solid black;
}

td { 
  vertical-align: top;
}
.right { 
  vertical-align: top;
  text-align: right;
  padding-right: 5px;
}

#description { 
  float: left;
  width: 590px;
}
#sidebar {
  border-left: 1px dashed black;
  width: 160px;
  float: right;
  padding: 5px;
  font-style: italic;
  font-size: 90%;
  padding-bottom: 10px;
}

#sidebar .first { margin-top:0px; }

#sidebar > h2 { 
  font-style: normal;
  font-size: 120%;
  padding:0pt;
  margin-bottom:5px;
  margin-top:20px;
 }

div.content { 
  margin-left: 10px;
 }

#notice { 
  border: 2px solid red;
  text-align: center;
  background: #D1FFD1; 
/*   width: 80%; */
  margin: 10px;
  padding: 5px;
 }
 
.example {
  font-size: 70%;
  font-style: italic;
}