<table>
  <tr>
    <td class="right">Filename:</td>
    <td><%= text_field "doc", "filename", "size" => 50 %></td>
  </tr>
  <tr>
    <td class="right">URL:</td>
    <td><%= text_field "doc", "url", "size" => 50 %></td>
  </tr>
  <tr>
    <td class="right">Filetype:</td>
    <td><%=  text_field "doc", "filetype", "size" => 8 %></td>
  </tr>
  <tr>
    <td class="right">Alternative name:</td>
    <td><%= text_field "doc", "alt", "size" => 30 %></td>
  </tr>
</table>
