<% @page_title="Editing documentation" %>


<% form_for @doc, :url => {:action => "update", :id=> @doc }  do |d| %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @doc %> |
<%= link_to 'Back', :action => "index", :id => @package  %>
