<% @page_title="Editing authors" %>

<% form_for @author, :url => {:action => "update", :id => @author.id} do |a| %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @author %> |
<%= link_to 'Back', :action => 'list' %>
