<% @page_title="New author" %>

<% form_for @author, :url => { :action => 'create'} do |x| %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
